
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title"><span class="tim-icons icon-bullet-list-67"></span> Trojanzaro Files</h2>
            </div>
            <div class=" col-sm-6 text-right">
              <button class=" btn btn-fill btn-danger" (click)="getFolderData()"><span class="tim-icons icon-refresh-01"></span></button>
              <button class=" btn btn-fill btn-danger" (click)="open(fileUploadModal)" ngbTooltip="Upload a file"><span class="tim-icons icon-cloud-upload-94"></span></button>
            </div>
            <div class=" col-sm-6">
              
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label class=" btn btn-sm btn-danger btn-simple" (click)="clicked=true;clicked1=false;" [ngClass]="{'active':clicked===true}">
                  <input checked="checked" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    List
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="clicked=false;clicked1=true;" [ngClass]="{'active':clicked1===true}">
                  <input
                    class=" d-none d-sm-none"
                    name="options"
                    type="radio"
                  />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Icons
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                </label>

              </div>

            </div>
          </div>
        </div>
        <!--LIST-->
        <div class=" card-body" *ngIf="clicked">

          <button class=" btn btn-fill btn-outline-dark" style="padding: 1%" (click)="open(newFolderModel)"> + <i class="far fa-folder-open" style="font-size:20px;"></i></button>

          <div class=" table-full-width table-responsive" style="overflow-x:auto; overflow-y:auto;"> <!--style="overflow-y: hidden; overflow-x: hidden;"-->
            <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status" role="status" *ngIf="loading">
              <span class="sr-only" style="z-index: initial;">Loading...</span>
            </div>
            
            <span *ngFor="let i of subFolders">
              > {{i}}
            </span>

            <table class=" table" *ngIf="!loading">
              <thead>
                <tr>
                  <td></td>
                  <td class=" title">
                    <a herf="javascript:void(0);" style="cursor: pointer;" (click)="shortBy('name')" > File </a>
                    <span class="fa fa-sort-asc" style="font-size:25px; position: absolute; padding-left: 9px;" *ngIf="sb.orderAsc && sb.type == 'name'"></span>
                    <span class="fa fa-sort-desc" style="font-size:25px; position: absolute; padding-left: 9px;" *ngIf="!sb.orderAsc && sb.type == 'name'"></span>
                  </td>
                  <td class=" title">
                    <a herf="javascript:void(0);" style="cursor: pointer;" (click)="shortBy('size')" > Size </a>
                    <span class="fa fa-sort-asc" style="font-size:25px; position: absolute; padding-left: 9px;" *ngIf="sb.orderAsc && sb.type == 'size'"></span>
                    <span class="fa fa-sort-desc" style="font-size:25px; position: absolute; padding-left: 9px;" *ngIf="!sb.orderAsc && sb.type == 'size'"></span>
                  </td>
                  <td class=" title">
                    <a herf="javascript:void(0);" style="cursor: pointer;" (click)="shortBy('date')" > Date </a>
                    <span class="fa fa-sort-asc" style="font-size:25px; position: absolute; padding-left: 9px;" *ngIf="sb.orderAsc && sb.type == 'date'"></span>
                    <span class="fa fa-sort-desc" style="font-size:25px; position: absolute; padding-left: 9px;" *ngIf="!sb.orderAsc && sb.type == 'date'"></span>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                </tr>
              </thead>
              <tbody>
                  <!--ITEM-->
                  <tr *ngIf="folder != '\\'">
                    <td>
                      <span class="far fa-folder-open" style="font-size:25px;"></span>
                    </td>
                    <td>
                      <p class="title">
                        <a style="font-size:25px;" href="javascript:void(0);" (click)="goBackFolder();" > . . </a>
                      </p>
                    </td>
                    <td></td><td></td><td></td><td></td>
                    
                  </tr>

                  <tr *ngFor="let i of onlyTheFolders">
                    <td>
                      <span class="far fa-folder-open" style="font-size:25px;"></span>
                    </td>
                    <td>
                      <p class="title">
                        <a href="javascript:void(0);" (click)="getSubFolder(i.filename);"> {{i.filename}} </a>
                      </p>
                    </td>
                    <td>
                    </td>
                    <td>
                      <p class="title">
                        {{i.lastDate | date:'medium'}}
                      </p>
                    </td>
                    <td  class=" td-actions text-right">
                    </td>
                    <td  class=" td-actions text-right">
                      <button (click)="open(fileDelete, i)" class=" btn btn-link" type="button" placement="left" ngbTooltip="Delete" container="body" >
                        <i style ="color:grey; font-size: 30px;" class='far fa-trash-alt' ></i> 
                      </button>
                    </td>
                  </tr>

                  <tr *ngFor="let i of onlyTheFiles">
                    <td>
                      <span [class]="getFiletypeIcon(i.filename)" style="font-size:25px;"></span>
                    </td>
                    <td>
                      <p class="title">
                        {{i.filename}}
                      </p>
                    </td>
                    <td>
                      <p  class="title">
                        {{humanizeBytes(i.size)}}
                      </p>
                    </td>
                    <td>
                      <p class="title">
                        {{i.lastDate | date:'medium'}}
                      </p>
                    </td>
                    <td  class=" td-actions text-right">
                      <a href="javascript:void(0)" (click)="getFile(i.filename)" class=" btn btn-link" type="button" placement="left" ngbTooltip="Download" container="body" >
                        <i style ="color:grey; font-size: 30px;" class='fas fa-download'></i>
                      </a>
                    </td>
                    <td  class=" td-actions text-right">
                      <button (click)="open(fileDelete, i)" class=" btn btn-link" type="button" placement="left" ngbTooltip="Delete" container="body" >
                        <i style ="color:grey; font-size: 30px;" class='far fa-trash-alt' ></i> 
                      </button>
                    </td>
                  </tr>
                  <!--ITEM END-->
              </tbody>
            </table>
          </div>
        </div>

        <!--ICONS-->
        <div class="card-body all-icons" *ngIf="clicked1">
          <b>Size: </b><p><input type="range" min="7" max="30" (change)="changeIconSize($event.target.value)" class="range blue">
          <div class=" row">
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6" [style]="getIconSize()"  *ngIf="folder != '\\'" >
              <!--BACK FOLDERICON ITEM-->
              <div class="card file-icon-box ">
                <div class="card-header" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                  <b> <a href="javascript:void(0)" (click)="goBackFolder();"> . . </a> </b>
                </div>
                <div class="card-body" style="text-align: center;">
                  <span class="far fa-folder-open" style="font-size:45px;color:white"></span>
                  <p style="font-size:15px; text-align: left;"></p>
                </div>
                <div class="card-footer" style="padding-bottom: unset; margin-top: unset;">
                </div>
              </div>
              <!--END BACK FOLDER ICON ITEM-->
            </div>

            <div *ngFor="let i of files" class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6" [style]="getIconSize()">
              <!--ICON ITEM-->
              <div class="card file-icon-box " >
                <div class="card-header" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                  <b><a href="javascript:void(0)" (click)="getSubFolder(i.filename);" *ngIf="i.isDir">{{i.filename}} </a></b>
                  <b *ngIf="!i.isDir"> {{i.filename}} </b>
                </div>
                <div class="card-body" style="text-align: center;">
                  <span *ngIf="i.isDir" class="far fa-folder-open" style="font-size:45px;color:white"></span>
                  <span *ngIf="!i.isDir" [class]="getFiletypeIcon(i.filename)" style="font-size:45px;color:white"></span>
                  <p style="font-size:15px; text-align: left;"></p>
                </div>
                <div class="card-footer" style="padding-bottom: unset; margin-top: unset;">
                  Size: {{humanizeBytes(i.size)}}
                  <div *ngIf="!i.isDir" ngbDropdown style="position: relative !important; left: 100% !important; top: -20px !important; ">
                    <a id="dropdownBasic1" ngbDropdownToggle>
                      <span class="fas fa-ellipsis-v"></span>
                    </a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="left: -15px !important;">
                      <a [href]="getFile(i.filename)" ngbDropdownItem> <i style ="color: black" class='fas fa-download'></i> Download</a>
                      <a href="javascript:void(0)" (click)="open(fileDelete, i)" ngbDropdownItem> <i style ="color: black" class='far fa-trash-alt' ></i> Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              <!--END ICON ITEM-->
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #fileUploadModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">File Upload</h4>
      <button style="color: white; position: sticky" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="md-form">
        <div class="file-field">
          <div class="btn btn-rounded purple-gradient btn-sm float-left"  style="width: 100%;">
            <span>Choose file</span>
            <input type="file" id="file" class="upload-btn-wrapper"
            (change)="handleFileInput($event.target.files)">
          </div>
        </div>
      </form>
        <div *ngIf="error">
          {{ error }}
        </div>
        <div *ngIf="fileUpload.status === 'error'">
          {{ fileUpload.message }}
        </div>
        <br><br><br>
        <div *ngIf="fileUpload.status === 'progress'" class="progress" style="height: 1.5rem;">
          <div class="progress-bar-animated progress-bar progress-bar-striped bg-info" [style]="getFileUploadProgr()">
            {{fileUpload.message}}%
          </div>
        </div>
        <span *ngIf="fileUpload.status === 'progress'">
          Speed: {{humanizeSpeed}}
        </span>  
    </div>
    <div class="modal-footer">
      <button id="uploadButton" [disabled]="uploadButton" type="button" class="btn btn-outline-dark text-right" (click)="uploadFileToActivity();">Upload</button>
    </div>
  </ng-template>

  <ng-template id="something" #fileDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete File</h4>
      <button style="color: white; position: sticky" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this <span *ngIf="fileToDelete.isDir"> Folder</span><span *ngIf="!fileToDelete.isDir"> File</span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark text-right" (click)="modal.dismiss('Delete'); deleteFile();">Yes</button>
      <button type="button" class="btn btn-outline-dark text-right" (click)="modal.dismiss('Cancel')">No</button>
    </div>
  </ng-template>

  <ng-template id="something" #newFolderModel let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create new Folder</h4>
      <button style="color: white; position: sticky" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div *ngIf="error">
          {{ error.errorMessage }}
        </div>
        Folder Name: <input (keyup)="newFolderName = $event.target.value" type="text">
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark text-right" (click)="newFolder();">Create</button>
      <button type="button" class="btn btn-outline-dark text-right" (click)="modal.dismiss('Cancel')">Close</button>
    </div>
  </ng-template>